<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label width-8 query-keyword">Query Type:</label>
            <div role="menuitem" class="gf-form" style="align-self:flex-start;">
                <gf-form-dropdown name="annotationQueryType" model="ctrl.annotation.annotationQueryType" css-class="gf-size-auto"
                                  get-options="ctrl.annotationQueryTypeOptions"
                                  lookup-text="false">
                </gf-form-dropdown>
            </div>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label width-8 query-keyword">Alert ID:</label>
            <input
                class="gf-form-input"
                placeholder="12345"
                ng-model="ctrl.annotation.alertId">
            </input>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label width-8 query-keyword">Circonus Query:</label>
            <input
                class="gf-form-input"
                placeholder="(active:1)"
                ng-model="ctrl.annotation.annotationQueryText">
            </input>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label width-8 query-keyword">Local filter:</label>
            <input
                class="gf-form-input"
                placeholder="tag:cluster:foo-bar*,project:abcd-prod"
                ng-model="ctrl.annotation.annotationFilterText">
            </input>
        </div>
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label width-8 query-keyword">Match:</label>
            <div role="menuitem" class="gf-form" style="align-self:flex-start;">
                <gf-form-dropdown name="annotationQueryType" model="ctrl.annotation.annotationFilterApply" css-class="gf-size-auto"
                                  get-options="ctrl.annotationFilterApplyOptions"
                                  lookup-text="false">
                </gf-form-dropdown>
            </div>
        </div>
    </div>
</div>
