<datasource-http-settings current="ctrl.current" suggest-url="http://localhost:8112">
</datasource-http-settings>

<h3 class="page-heading">IRONdb Details</h3>

<div class="gf-form-group">
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label width-9">IRONdb Type</span>
      <div class="gf-form-select-wrapper gf-form-select-wrapper--has-help-icon">
        <select class="gf-form-input width-30" ng-model='ctrl.current.jsonData.irondbType' ng-options="irondbType for irondbType in ['standalone', 'hosted']" ng-init='ctrl.current.jsonData.irondbType'></select>
        <info-popover mode="right-absolute">
          <p>This option determines whether a standalone or hosted IRONdb instance is the target of this datasource.</p>
          <p>Standalone = An IRONdb cluster accessible directly.</p>
          <p>Hosted = An IRONdb instance hosted by Circonus, requires entry of API tokens.</p>
        </info-popover>
      </div>
    </div>
    <div class="gf-form" ng-show="ctrl.current.jsonData.irondbType === 'standalone'">
      <span class="gf-form-label width-9">Account ID</span>
      <input class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.accountId' placeholder="enter account id"></input>
      <info-popover mode="right-absolute">
          <p>The Account ID associated with the account to pull metrics from. This can be found on your user profile page after logging in at <a href="https://www.circonus.com/">https://www.circonus.com/</a> in the "My Accounts" section.</p>
      </info-popover>
    </div>
    <div class="gf-form" ng-show="ctrl.current.jsonData.irondbType === 'hosted'">
      <span class="gf-form-label width-9">API Token</span>
      <input class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.apiToken' placeholder="enter API token"></input>
      <info-popover mode="right-absolute">
          <p>The API Token associated with the account to pull metrics from. This can be found on your API Tokens page after logging in at <a href="https://www.circonus.com/">https://www.circonus.com/</a> in the "User Profile" section.</p>
      </info-popover>
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-9">Results Limit</span>
      <input class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.resultsLimit' ng-init="ctrl.current.jsonData.resultsLimit"></input>
      <info-popover mode="right-absolute">
        <p>Limit number of search results items fetched.</p>
        <p>Setting it to -1 or "none" removes the limit.</p>
      </info-popover>
    </div>
  </div>
  <div class="gf-form-inline">
    <gf-form-switch class="gf-form"
      label-class="width-9" switch-class="width-30"
      label="Cache Results" checked="ctrl.current.jsonData.useCaching"
      tooltip="Use client-side caching of database requests. Cache size defaults to one minute and 128 entries.">
    </gf-form-switch>
  </div>
  <div class="gf-form-inline">
    <gf-form-switch class="gf-form"
      label-class="width-9" switch-class="width-30"
      label="Activity Tracking" checked="ctrl.current.jsonData.activityTracking"
      tooltip="IRONdb supports tracking of metric activity without the expense of reading all known time series data to find active ranges.">
    </gf-form-switch>
  </div>
</div>
