<query-editor-row query-ctrl="ctrl" can-collapse="true" has-text-edit-mode="true">

  <div ng-if="ctrl.target.rawQuery">
    <div class="gf-form">
      <textarea rows="3" class="gf-form-input" ng-model="ctrl.target.query" spellcheck="false" placeholder="IRONdb Metric" ng-model-onblur ng-change="ctrl.refresh()"></textarea>
    </div>
  </div>

  <div ng-if="!ctrl.target.rawQuery">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">Metric</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input gf-size-auto" ng-model="ctrl.target.getMetric" ng-options="f.value as f.text for f in ctrl.getMetrics" ng-change="ctrl.refresh()"></select>
        </div>
<!--
        <gf-form-dropdown get-options="ctrl.getMetrics" allow-custom="true" label-mode="true" on-change="ctrl.refresh()"></gf-form-dropdown>
-->
      </div>
      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
      <gf-form-switch class="gf-form" label="Histogram" label-class="width-5" checked="ctrl.target.isHistogram" ng-model="ctrl.target.isHistogram" ng-change="ctrl.refresh()"></gf-form-switch>
      <gf-form-switch class="gf-form" label="CAQL" label-class="width-5" checked="ctrl.target.isCaql" ng-model="ctrl.target.isCaql" ng-change="ctrl.refresh()"></gf-form-switch>
    </div>
  </div>

</query-editor-row>
