<query-editor-row query-ctrl="ctrl" can-collapse="true" has-text-edit-mode="true">

    <div class="gf-form-inline">
      <div role="menuitem" class="gf-form" style="align-self:flex-start;">
        <gf-form-dropdown name="pointtype" model="ctrl.target.pointtype" on-change="ctrl.typeValueChanged()" css-class="gf-size-auto"
          get-options="ctrl.pointTypeOptions"
          lookup-text="true">
        </gf-form-dropdown>
      </div>
      <div ng-if="ctrl.target.isCaql" class="gf-form gf-form--grow">
        <textarea rows="3" class="gf-form-input" ng-model="ctrl.target.query" spellcheck="false" placeholder="IRONdb Metric" ng-model-onblur ng-change="ctrl.refresh()"></textarea>
      </div>
      <div ng-if="!ctrl.target.isCaql" class="gf-form gf-form-inline">
        <div ng-repeat="segment in ctrl.segments" role="menuitem" class="gf-form">
          <div ng-switch="segment._typeName">
            <div ng-switch-when="TagPair|TagEnd|TagSep" ng-switch-when-separator="|" ng-class="{'irondb-tag-pair':segment._typeName=='TagPair','irondb-tag-sep':segment._typeName=='TagSep'}">
              <div class="gf-form-label" style="color:#eb7b18"><b>{{segment.value}}</b></div>
            </div>
            <div ng-switch-default ng-class="{'irondb-tag-key':segment._typeName=='TagCat','irondb-tag-value':segment._typeName=='TagVal','irondb-tag-plus':segment._typeName=='TagPlus','irondb-tag-op':segment._typeName=='TagOp'}">
              <metric-segment segment="segment" get-options="ctrl.getSegments( $index, $query )" on-change="ctrl.segmentValueChanged( segment, $index )"/>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!ctrl.target.isCaql" class="gf-form">
        <div class="gf-form gf-form--grow">
          <div class="gf-form-label gf-form-label--grow" style="color:#33b5e5">f(x)</div>
        </div>
        <div role="menuitem" class="gf-form" style="align-self:flex-start;">
          <gf-form-dropdown name="egressoverride" model="ctrl.target.egressoverride" on-change="ctrl.egressValueChanged()" css-class="gf-size-auto"
            get-options="ctrl.egressTypeOptions"
            lookup-text="true">
          </gf-form-dropdown>
        </div>
      </div>
    </div>

</query-editor-row>
